---

---

<div class="w-full text-center text-xl my-4">
  <div class="w-fit mx-auto bg-slate-100 px-8 py-2 text-slate-600 rounded-l">
    <a href=`${import.meta.env.BASE_URL}/`>Modules</a>
    |
    <a href=`${import.meta.env.BASE_URL}/categories`>Categories</a>
  </div>
</div>
