---
import type { ModuleDoc } from "../pages/index.astro"
import ModuleItem from "./ModuleItem.astro"

interface Props {
  modules: Map<string, ModuleDoc>
}

const { modules } = Astro.props
---

<table class="w-5/6 mx-auto p-2 bg-slate-100 text-slate-700">
  <thead class="border-b border-slate-200">
    <tr class="text-left">
      <th class="p-1">Module</th>
      <th class="p-1">Category</th>
      <th class="p-1">Author</th>
    </tr>
  </thead>
  <tbody>
    {Array.from(modules).map(([name, module]) => <ModuleItem name={name} module={module} />)}
  </tbody>
</table>
